/*===================
  Links Menú Top & Dropdown Menú
===================*/
.linkMenuTop {
  color: #000000 !important;
}

.linkMenuTop:hover,
.linkMenuTopActive {
  background-color: #dac3ab6b;
}

.linkMenuTop {
  margin-top: 10px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  .linkMenuTopActive  {
    border-radius: 7%;
  }
}

.dropDownMenuPortfolio {
  background-color: #dac3ab6b !important;
}

.dropDownMenuItemPortfolio {
  border-radius: 2% !important;
  transition: all 0.5s;
}

.dropDownMenuItemPortfolio:hover {
  padding-left: 25px;
}

/*===================
  Animaciones navbar menú
===================*/

#header {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar {
  background-color: #ece2d777 !important;
}

.navbar .nav-item{
  margin-right: 10px;
}

.dropdown-toggle::after {
  -webkit-transition: transform 0.15s linear;
  -o-transition: transform 0.15s linear;
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  -webkit-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}

.dropdown-item:hover {
  background-color: #ffffffd2;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
