/*===================
  Links Menú Top & Dropdown Menú
===================*/
.linkMenuTop {
  color: #000000 !important;
}

.linkMenuTop:hover,
.linkMenuTopActive {
  background-color: #dac3ab6b;
  border-radius: 15%;
}

.dropDownMenuPortfolio {
  background-color: #dac3ab6b !important;
}

.dropDownMenuItemPortfolio {
  border-radius: 2% !important;
}

/*===================
  Animaciones navbar menú
===================*/

#header {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar {
  background-color: #ece2d777 !important;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 10px;
}

.dropdown-toggle::after {
  -webkit-transition: transform 0.15s linear;
  -o-transition: transform 0.15s linear;
  transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  -webkit-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}

.dropdown-item:hover {
  background-color: #f5f1ec77;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
