#about-me {
  margin-top: 88px !important;
}

/* 0 to load with SCROLL */
#divCardInfo,
#divFormAcad,
#divHabs,
#divExpLab,
#divInfoAd,
#divContactForm {
  opacity: 0;
  transition: opacity 1.5s;
}

#divFormAcad,
#divHabs,
#divExpLab,
#divInfoAd,
#divContactForm {
  margin-top: 80px !important;
}

/*===================
  CARD PERSONAL INFO
===================*/
#card-info-left {
  background-color: #f5f2ee;
}

#card-info-right {
  background-color: #fcfbf9;
}

.bio-image {
  border-radius: 50%;
}

.bio-content {
  text-align: left;
}

#nombre,
#cargo {
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
}

#cargo {
  margin-top: -5px;
  margin-bottom: 15px;
}

/* Iconos Redes Sociales */

.social-network a.icoFacebook {
  background-color: #3b5998;
}

.social-network a.icoTwitter {
  background-color: #33ccff;
}

.social-network a.icoInstagram {
  background: linear-gradient(#400080, transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

.social-network a.icoLinkedin {
  background-color: #007bb7;
}

.social-network a.icoEmail {
  background: linear-gradient(#d44638, transparent),
    linear-gradient(180deg, #eeeeee, #d44638, #b23121);
}

.social-network a i {
  color: #fff;
}

.social-circle a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 26px;
}

.social-network a:hover i {
  font-size: 30px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

#btn-cv,
#btn-contacta {
  width: 150px !important;
  font-size: 14px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

#btn-cv:hover,
#btn-contacta:hover {
  width: 160px !important;
  font-size: 15px;
}

/*===================
  SECCIONES
===================*/
.titulo-seccion {
  font-family: Raleway, sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.titulo-seccion span {
  margin-left: 10px;
  color: #474747;
}

.icono-secciones {
  padding: 5px;
  border-radius: 10%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* FORMACIÓN ACADÉMICA */
#icono-formacion {
  background-color: #0000c23b;
}

.card-formacion {
  border-left: 5px solid #0000c23b;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* HABILIDADES  */
#icono-hab {
  background-color: #ffff003b;
}

#container-habs {
  background-color: #ffff0028;
}

#container-habs * h5 {
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
}

.habilidad {
  text-align: left;
  width: 55%;
  margin: 0 auto;
}

/* EXPERIENCIA LABORAL */
#icono-exp_lab {
  background-color: #8040003b;
}

.card-exp_lab {
  border-left: 5px solid #8040003b;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* INFO ADICIONAL */
#icono-info_ad {
  background-color: #14d08246;
}

#container-info_ad {
  background-color: #14d08246;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

/*===================
  CONTACTO FORM
===================*/

#contact-form-left {
  background-color: #ece2d7;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

#contact-form-right {
  background-color: #f5f2ee;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

#contact-form-icon {
  color: #000;
  font-size: 40px;
}

.info-email-icon-circle,
.info-tel-icon-circle {
  color: #ffffff;
  display: inline-block;
  padding: 2px;
  margin-right: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 25px;
  height: 25px;
  font-size: 15px;
}

.info-email-icon-circle {
  background: linear-gradient(#d44638, transparent),
    linear-gradient(180deg, #eeeeee, #d44638, #b23121);
}

.info-tel-icon-circle {
  background: #7f8ff9;
}

.contact-form-info a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.contact-form-info a:hover {
  font-size: 17px;
  text-decoration: underline;
}

#btn-form,
#btn-cv,
#btn-contacta {
  color: #000;
  font-weight: 500;
  background-color: #e2cfba;
  border-color: #e2cfba;
  box-shadow: rgba(0, 0, 0, 0.49) 1px 1px 2px;
}

#btn-form {
  width: 250px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

#btn-form:hover {
  width: 270px !important;
  font-size: 18px;
}

textarea {
  resize: none;
}

@media (min-width: 768px) {
  #card-info-left {
    border-top-left-radius: 5%;
  }

  #card-info-right {
    border-top-right-radius: 5%;
  }

  .habilidad {
    width: 100%;
  }

  #container-habs * h5 {
    text-align: start;
    margin-left: 15%;
  }
}

@media (min-width: 992px) {
  #contact-form-left {
    border-top-left-radius: 5%;
  }

  #contact-form-right {
    border-top-right-radius: 5%;
  }

  .habilidad {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .habilidad {
    width: 70%;
  }
}

@media (min-width: 1400px) {
  .habilidad {
    width: 65%;
  }
}
