<main>
  <!-- Home 1: Imagen de fondo con título y subtítulo -->
  <div class="view">
    <div class="container align-self-center">
      <div class="row">
        <div class="col-md-12 mb-4 text-white text-center">
          <h1 class="text-white font-weight-bold mb-0 pt-md-5 pt-5">MARTA MONTALBÁN</h1>
          <hr class="hr-light mx-auto" id="hr1">
          <h2 class="text-white h2-view">COMUNICADORA AUDIOVISUAL</h2>
          <hr class="hr-light mx-auto" id="hr2">
          <h2 class="text-white h2-view">FOTOGRAFÍA FREELANCE</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- // Home 1 -->

  <!-- Home 2: Imágenes con links -->
  <div class="container-fluid pt-4 px-5">
    <div class="row">
      <div class="pb-2 pb-md-0 col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-5 offset-lg-1"
        id="maincard1">
        <div class="card border-0">
          <img [ngClass]="['card-img-top', 'lazyload']" data-src="{{source}}/home1.jpg" alt="IMAGEN 1">
          <div class="card-body m-0 pt-1">
            <h5 class="card-title text-center m-0 pt-1">SESIÓN SARA</h5>
            <p class="card-text text-center pt-1"><a routerLink="/sesion/12" class='enlaceSesion'>VER MÁS</a></p>
          </div>
        </div>
      </div>

      <div class="pb-2 pb-md-0 col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-5" id="maincard2">
        <div class="card border-0">
          <img [ngClass]="['card-img-top', 'lazyload']" data-src="{{source}}/home2.jpg" alt="IMAGEN 2">
          <div class="card-body m-0 pt-1">
            <h5 class="card-title text-center m-0 pt-1">SESIÓN UXIA</h5>
            <p class="card-text text-center pt-1"><a routerLink="/sesion/13" class='enlaceSesion'>VER MÁS</a></p>
          </div>
        </div>
      </div>

      <div class="pb-2 pb-md-0 col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-5 offset-lg-1"
        id="maincard3">
        <div class="card border-0">
          <img [ngClass]="['card-img-top', 'lazyload']" data-src="{{source}}/home3.jpg" alt="IMAGEN 3">
          <div class="card-body m-0 pt-1">
            <h5 class="card-title text-center m-0 pt-1">SESIÓN CASA</h5>
            <p class="card-text text-center pt-1"><a routerLink="/sesion/8" class='enlaceSesion'>VER MÁS</a></p>
          </div>
        </div>
      </div>

      <div class="pb-2 pb-md-0 col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-5" id="maincard4">
        <div class="card border-0">
          <img [ngClass]="['card-img-top', 'lazyload']" data-src="{{source}}/home4.jpg" alt="IMAGEN 4">
          <div class="card-body m-0 pt-1">
            <h5 class="card-title text-center m-0 pt-1">SESIÓN CRIS</h5>
            <p class="card-text text-center pt-1"><a routerLink="/sesion/5" class='enlaceSesion'>VER MÁS</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- // Home 2 -->
</main>
