<main id="main-sesion" *ngIf="sesion$">
  <div class="container my-2 p-3 text-center">
    <!-- NOMBRE Y LOCALIZACION de la sesión-->
    <div class="row">
      <div class="col-12 text-center">
        <h1>{{sesion$.nombre}}</h1>
        <p>{{sesion$.localizacion}}</p>
      </div>
    </div>
    <!-- IMÁGENES -->
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4 col-xxl-3 p-1 imagen" *ngFor="let item of sesion$.imagenes">
        <div class="card border-0 text-center">
          <img [ngClass]="['card-img-top', 'lazyload']" data-src="{{source}}/{{sesion$.directorio}}/{{item}}"
            alt="{{sesion$.nombre}}">
        </div>
      </div>
    </div>
  </div>
</main>
