<main id="main-sesion" *ngIf="sesion$">
  <div class="container my-2 p-3 text-center">
    <!-- NOMBRE Y LOCALIZACION de la sesión-->
    <div class="row">
      <div class="col-12 text-center">
        <h1>{{sesion$.nombre}}</h1>
        <p>{{sesion$.localizacion}}</p>
      </div>
    </div>
    <!-- IMÁGENES -->
    <div class="row">
      <div *ngFor="let item of sesion$.imagenes; let i = index " class="col-12 col-md-6 col-xl-4 col-xxl-3 p-1 imagen">
        <div class="card border-0 text-center">
          <img (click)="mostrarModal(i)"
               [ngClass]="['card-img-top', 'lazyload', 'img-portfolio']"
               alt="{{sesion$.nombre}}" data-src="{{source}}/{{sesion$.directorio}}/{{item}}">
        </div>
      </div>
    </div>
    <!-- MODAL IMAGEN -->
    <div aria-hidden="true" class="modal fade" id="modalImagen" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header p-0">
            <button aria-label="Close" class="btn-close btn-close-top" data-bs-dismiss="modal" type="button"></button>
          </div>
          <div class="modal-body">
            <img [ngClass]="['card-img-top', 'lazyload', 'img-modal']" alt="{{sesion$.nombre}}" data-src=""
                 id="imagenModal"
                 src="">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
