#camera-body,
#reel-1,
#reel-2 {
  fill: #fff;
  fill-opacity: 0.95;
  stroke: none;
}

#loading {
  height: 100vh;
  width: 100%;
  background: #111;
  color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 2em;
}
